body {
    background-color: #E4FDE1;
    margin: 0;
    display: flexbox;
    flex-direction: column;
}

div {
    margin-bottom: 8px;
}

.header {
    background-color: #DAFFEF;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header p {
    font-size: 64px;
    font-weight: 900;
}

.game {
    display: flex;
    justify-content: space-around;
}

.user-game,
.com-game {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#user-header,
#com-header {
    font-size: 32px;
    font-weight: 700;
    color: #3f3f3f;
}

.img-container {
    padding: 0;
    border: 10px solid firebrick;
}

.score {
    display: flex;
    justify-content: center;
    gap: 100px;
    border-bottom: 4px solid black;
}

#user-score,
#com-score {
    border: 5px solid firebrick;
    font-size: 32px;
    font-weight: bold;
    padding: 8px;
    background-color: bisque;
}

#result {
    width: 300px;
    border: 2px solid black;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #4DAA57;
}

.options {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.options button {
    height: 50px;
    width: 200px;
    text-align: center;
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    z-index: 1;
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    height: 70%;
    width: 30%;
    background-color: white;
    padding: 8px;
    border: 2px solid firebrick;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.close-container {
    display: flex;
    justify-content: space-between;
}

.close-button {
    font-size: 32px;
    font-weight: 700;
    color: #aaa;
    background-color: white;
    padding: 4px;
    border: none;
}

.modal-result {
    flex: 1 1 0;
    text-align: center;
    padding-top: 30%;
    font-size: 50px;
}

.reset {
    font-size: 24px;
    font-weight: 900;
    padding: 8px;
    background-color: yellow;
    color: red;
    border-radius: 10px;
}