body {
    background-color: snow;
    margin: 0;
    display: flexbox;
    flex-direction: column;
}

div {
    margin-bottom: 8px;
}

.header {
    background-color: blanchedalmond;
    color: red;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header p {
    font-size: 64px;
    font-weight: 900;
}

.game {
    display: flex;
    height: 400px;
    justify-content: space-around;
}

#user-header,
#com-header {
    font-size: 32px;
    font-weight: 700;
    color: #3f3f3f;
}

.user-image,
.com-image {
    border: 2px solid firebrick;
    height: 200px;
}